#main{
    height:150px;
    width:400px;
    background-color:#d2ac87;
}
html,body{
    height: 100%;
}
section{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:center; 
}
#container{
    margin-top: 25px;
    margin-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: white;
    height:100px;
    width:330px;
    border-left: 5px solid #eecf68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchInput{
    border: none;
    font-size: 17px;
    border-radius:5px;
    border:2px solid #e8dbcb;
    text-align: center;
    padding: 10px 2px;
    color:#d0c9c4;
    width:150px;
    font-family: 'Open Sans', sans-serif;
}
::placeholder,:-ms-input-placeholder, ::-ms-input-placeholder { 
    color: #d0c9c4;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
 }
.search{
    border:1px solid #cb542d;
    cursor: pointer;
    padding:10px 27px 10px 27px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 19px;
    background-color: #eb714b;
    border-radius: 6px;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2);
    margin-left: 7px;
}